body {
  margin: 0 auto;  
}

header, main, article, section, footer {
  border: thick ridge;
}

:root {
  font-family: system-ui, system, Arial, Helvetica, sans-serif, monospace;
}

header {
  background: hotpink;
}

main {
  background: lime;
}

footer, footer :link {
  background: purple;
  color: silver;
}

:root {
  background: silver;
}
