:root {
  font-family: system-ui, Arial, Helvetica, sans-serif, monospace;
  background: mintcream;
  color: midnightblue;
}

body {
  display: table;
  margin: 2rem auto;
  width: 666px;
  max-width: 85vw;
}

::selection {
  background: aquamarine;
}
