  section:not(:target) {
    display: none;
  }
  section:target *, section:target {
    display: auto;
  }
  section::before {
    content: "DOSYAGO.COM -> " attr(id);
    position: sticky;
    top: 0.5em;
    background: darkorange;
    color: crimson;
    padding: 0 0.5em;
    display: block;
    margin: 0.5rem 0;
    font-size: x-large;
    font-weight: bold;
  }
  a[href^="#"]::before {
    content: attr(href);
    display: inline;
  }
  section {
    max-height: 85vh;
    overflow-y: auto;
    border-bottom: thick solid darkorange;
  }
